body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
body {
    background-color: wheat;
}
h1 {
     background-color:whitesmoke ;
    font-family: verdana;
    font-size: 20px;
}
p {
    font-family: times new roman;
    font-size: 20px;
}
a:link, a:visited {
    background-color:green;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: red;
}